body {
	padding: 0;
	margin: 0;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #606c71;
}

@media screen and (min-width: 64em) {
	.page-header {
		padding: 5rem 6rem;
	}

	.project-name {
		font-size: 100px;
	}

	.project-name {
		margin-top: 0;
		margin-bottom: 0.1rem;
	}
}

.page-header {
	color: #fff;
	text-align: center;
	background-color: #159957;
	background-image: linear-gradient(120deg, #155799, #159957);
}