
.projects-header {
		width: 60%;
		text-align: center;
		font-weight: 200;
		display: block;
		margin: 60px auto 40px;
}

.project-list {
	font-size: 0;
}
.project-list-item {
	font-size: 16px;
	width: 25%;
	padding: 0 5px;
	box-sizing: border-box;
	border: 1px solid #ddd;
}

.top-nav {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0 20px;
	height: 40px;
	font-size: 14px;
	background-color: #222;	
	z-index: 32;
}

.top-nav-space {
	height: 40px;
}

.top-nav-git img {
	display: block;
	margin: 10px 0;
	width: 20px;
	height: 20px;
}
